
.header {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.search {
    display: flex;
}
