
.main {
    max-width: 900px;
    border: 1px solid black;
    display: flex;
    
    justify-content: space-between;
    padding: 1rem;
    
}

.aside {
    flex: 0 0 30%;
   

}

.content {
    flex: 0 0 70%;
}