
.main {
    max-width: 900px;
    margin: 0 auto;
   
    display: flex;
    
    justify-content: space-between;
    padding: 1rem;
    
}

.aside {
    flex: 0 0 30%;
    padding: 1rem;
    border-right: 1px solid black;
   

}

.content {
    flex: 0 0 70%;
}