
.section {
    display:flex;
    padding: 1rem;
    width: 100%;
    padding-top: 1rem;
    border: 1px solid white;
    line-height: 1.5;
    margin-bottom: 1rem;
    h2,p {
        margin-bottom: 2rem;
    }
    p {
        height: 100px;
        overflow-y: scroll;
       
    }
    img {
        width: 100%;
    }
    .right {
        width: 50px;
        display:flex;
        flex-direction: column;
        padding: 1rem;
    }
}